$bp-largest: 75em;
$bp-large: 56.25em;
$bp-small: 37.5em;
$bp-smallest : 40.62em;

$primary-color: #ffffff;
$secondary-color: #8023eb;
$secondary-color-border-line: #8121ee;
$grey-border-line: #dadada;
$error-color: #ee6e6e;
$error-background-color: #fadada;
$error-border: #f5baba;
