@import '../variables.scss';

.user-form-wrapper {
    border: 1px solid $grey-border-line;
    padding: 4rem;
    text-align: center;
    border-radius: 1rem;
    background-color: $primary-color;
    position: relative;

    .cancel {
        display: inline-block;
        position: absolute;
        top: 5rem;
        right: 5rem;
        padding: 1rem;
        cursor: pointer;
    }

    h3 {
        font-size: 2.4rem;
        padding: 4rem;
        margin: 2rem 0;
        display: inline-block;
    }

    form {
        padding: 4rem 4rem 10rem 4rem;

        .field {
            width: 60%;
            margin: 0 auto;

            input,
            .error {
                border: 1px solid $grey-border-line;
                width: 100%;
                padding: 1.4rem;
                margin-top: 2rem;
                border-radius: .4rem;
                font-size: 1.8rem;
                color: #2d2d2d
            }

            .error {
                border: 1px solid $error-border;
                text-align: left;
                padding: 1rem;
                margin: .4rem 0;
                color: $error-color;
                background-color: $error-background-color;

            }
        }

        button {
            border: 1px solid $secondary-color-border-line;
            background-color: $secondary-color;
            color: $primary-color;
            padding: 1rem 2.6rem;
            margin-top: 3rem;
            font-size: 1.5rem;
            border-radius: .5rem;
            cursor: pointer;
            
        }

    }
}